@import '../../base';

.thumbnail {
    width: 100%;
    height: 340px;
    &__link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        padding: 20px;
        box-sizing: border-box;
        background-color: $maincolor;
        position: relative;
        border-radius: 10px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            top: 0;
            left: 0;
            position: absolute;
            border-radius: 10px;
        }
    }
    &__title {
        font-family: $mainfont;
        font-size: 1rem;
        color: white;
        margin: 0;
        z-index: 1;
    }
}