@import '../../base';

.listings {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: $backcolor;
    border-radius: 25px;
    margin: 50px 0;
    &__list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        row-gap: 60px;
        list-style: none;
        box-sizing: border-box;
        padding: 0;
    }
}


@media screen and (max-width: 800px) {
    .listings {
        padding: 30px;
        margin: 30px 0;
        &__list {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
            row-gap: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    .listings {
        padding: 0;
        background-color: transparent;
        &__list {
            grid-template-columns: 1fr;
        }
    }
}